<b>Hello World</b>

<!doctype html>



<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="AUTHOR" content="created by Doyle at http://free-templates.org">
<meta name="KEYWORDS" content="replace, these, words, that, describe, your, site, and, page, contents, separated, by, commas">
<meta name="DESCRIPTION" content="Here is where you put a short sentence or two describing this page and it's goals">
<title>Free template #1 provided by www.free-templates.org (replace this title with your own)</title>
</head>

<body bgcolor="#dkfhdghudgi">

<div align="center">
  <center>
  <table border="1" cellpadding="3" cellspacing="1" width="799" height="76">
    <tr>
      <td width="786" valign="top" align="center" bgcolor="#70B4D3" height="66"><font size="7" face="Arial" color="#000080">University of Calicut</font></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
<centre>

    <br align="center"></br>

      <button align="center"><a href="{% 'courselist' %}"<b>Staff login</b></button>
</centre>
</div>
      <div align="center">
        <center>

        </center>
      </div>

      <p align="center"><font size="6">Dont have an account <BR>SIGN UP HERE<a href="http://www.bravenet.com?afilid=3813648466" target="_blank">CLICK
      HERE</a></font></p>
    </td>
  <center>
      <td width="119" height="524" valign="top" align="center">

        <div align="center">

        </div>
      </td>
    </tr>

    <tr>
        <BR><BR>
          <BR><BR>
          <BR><BR>
          <BR><BR>  <BR><BR>  <BR><BR>  <BR><BR>
   <!-- PLEASE DO NOT REMOVE OR ALTER THE FOLLOWING SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG -->
      <td width="759" height="4" colspan="3">
        <p align="center"><b><font size="5" face="Arial">This template is designed by<a href="http://www.merin.org">Merin.org</a>
        </font></b></td>
    <!-- PLEASE DO NOT REMOVE OR ALTER THE ABOVE SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG-->
    </tr>
  </table>
  </center>
</div>

</body>

</html>