{% extends "static/base.html" %}
{% load staticfiles %}
{% block body %}

<body imgsrc="home/backdrop.jpg">
<div align="center">
  <center>
  <table border="1" cellpadding="3" cellspacing="1" width="799" height="76">
    <tr>
      <td width="786" valign="top" align="center" bgcolor="#76123waaa" height="66"><font size="7" face="Arial" color="#000080">University of Calicut</font></td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
<centre>

    <br align="center"></br>
  <br></br><br></br><br>

      <button align="center" type="submit" class="btn btn-default"><a href="{% url 'signin' %}"><b>STAFF LOGIN</b></a></button>
</centre>
</div>
      <div align="center">
        <center>

        </center>
      </div>
<br></br><br></br>
      <p align="center"><font size="6">Dont have an account SIGN UP HERE <a href="{% url 'signup' %}" target="_blank"><button   type="Signup" class="btn btn-default">CLICK
      HERE</a></button></p>
    </td>
  <center>
      <td width="119" height="524" valign="top" align="center">

        <div align="center">

        </div>
      </td>
    </tr>

    <tr>
        <BR><BR>
          <BR><BR>
          <BR><BR>
          <BR><BR>  <BR><BR>  <BR><BR>  <BR><BR>
   <!-- PLEASE DO NOT REMOVE OR ALTER THE FOLLOWING SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG -->
      <td width="759" height="4" colspan="3">
        <p align="center"><b><font size="5" face="Arial">This template is designed by<a href="http://www.merin.org">Merin.org</a>
        </font></b></td>
    <!-- PLEASE DO NOT REMOVE OR ALTER THE ABOVE SECTION GIVING FREE TEMPLATE CREDIT TO HTTP://FREE-TEMPLATES.ORG-->
    </tr>
  </table>
  </center>
</div>

		{% endblock body %}